body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Victor Mono', Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #171625;
  /* background-image: url(assets/background.jpg); */
  background-size: cover;
  
  color: white;
  text-shadow: 2px 2px 2px black;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  text-align: center;
  padding-top: 25px;
  justify-content: center;
}

.h2 {
  font-size: 36px;
  width: 400px;
  background: rgb(96, 22, 109);
  border: none;
  border-radius: 10px;
  color: white;
}

.h2:hover {
  text-decoration: underline;
  background-color: white;
  color: black;
  text-shadow: none;
  cursor: default;
  transition: all 0.3s ease-in-out;
}

.main-body {
  display: grid;
  width: 900px;
  max-height: 100%;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
}

.card {
  border: 5px solid rgb(72, 17, 81);
  background-image: linear-gradient(to bottom, rgb(96, 22, 109), rgba(0, 0, 0, 0));
  margin-right: 50px;
  border-collapse: collapse;
  width: 300px;
  height: 400px;
  border-radius: 25px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.card:hover {
  background-color: #0f0552;
}

.card:hover .logo {
  background-color: white;
  color: black;
  text-shadow: none;
  border-radius: 15px;
  transition:
   background-color 0.4s ease-in-out;
  -webkit-transition: 
    background-color 0.4s ease-in-out;
}


.card:first-child {
  margin-left: 205px;
}

.card:last-child {
  margin-right: 0;
}

.footer {
  text-align: center;
  padding-top: 100px;
}

nav a {
  display: block;
}

nav {
  padding: 30px;
  text-align: center;
}

.ico {
  background-color: white;
  border-radius: 10px;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  font-size: 25px;
  width: 240px;
  height: 50px;
}


.card a {
  font-size: 20px;
  margin-bottom: 20px;
}

.searcher {
  text-align: center;
  padding-top: 30px;
  font-size: 50px;
}